<% if Contact.all.count == 1 %>
  <h3 class="contact-header">
    There is <span class="num-contacts"><%= Contact.all.count.to_s %></span> contact
  </h3>
<% else %>
  <h3 class="contact-header">
    There are <span class="num-contacts"><%= Contact.all.count.to_s %></span> contacts
  </h3>
<% end %>

<ul>
<% Contact.all.each do |contact| %>
  <div class="contact info">
    <div class="contact">
      <li class="contact-name"><%= contact.first_name %> <%= contact.last_name %></li>
      <li class="contact-email">(<%= contact.email %>)</li>
    </div>
    <div class="contact-option">
      <li class="contact-sub"><span class="contact-option"><a href="/contacts/edit">Edit</a></span> | <span class="contact-option"><a href="/contacts/delete">Delete</a></span></li>
    </div>
  </div>
<% end %>
</ul>
