<% if Contact.all.count == 1 %>
  <header class="body-header">
    There is <span class="num-contacts"><%= Contact.all.count.to_s %></span> contact
  </header>
<% else %>
  <header class="body-header">
    There are <span class="num-contacts"><%= Contact.all.count.to_s %></span> contacts
  </header>
<% end %>

<ul>
<% Contact.all.each do |contact| %>
  <div class="body-item">
    <div class="contact">
      <a class="contact_link" href="/contacts/<%= contact.id %>">
        <li class="contact-name"><%= contact.first_name %> <%= contact.last_name %></li>
      </a>
      <li class="contact-email">(<%= contact.email %>)</li>
    </div>
    <div class="contact-option">
      <li class="contact-sub"><span class="contact-option"><a href="/contacts/edit">Edit</a></span> | <span class="contact-option"><a href="/contacts/delete">Delete</a></span></li>
    </div>
  </div>
<% end %>
</ul>
