<header class="body-header">
  <h1>Are you sure you want to delete this contact?</h1>
</header>

<div class="body-item">
  <ul>
    <div class="contact">
      <li class="contact-name"><%= @contact.first_name %> <%= @contact.last_name %></li>
      <li class="contact-email"><%= @contact.email %></li>
      <li class="contact-note"><%= @contact.note %></li>
    </div>
    <div class="contact-option">
      <li class="contact-sub"><span class="contact-option"><a href="/contacts/<%= @contact.id %>/edit">Edit</a></span> | <span class="contact-option"><a href="/contacts/<%= @contact.id %>/delete">Delete</a></span></li>
    </div>
  </ul>
</div>

<div class="body-item">
  <form action='/contacts/<%= @contact.id %>' method='post'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Yes'>
  </form>
  <a href='/contacts'><button type='button'>No</button></a>
</div>
